@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  /* user-select: none; */
  box-sizing: border-box;
}

:root {
  --bg-clr-green: #00cb4b;
  --bg-clr-gray: #f3f3f3;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

/* navbbar */

nav {
  z-index: 1;
  width: 100%;
  display: flex;
  padding: 1rem;
  user-select: none;
  /* background-color: rgba(255, 255, 255, 0.5); */
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: white;
  position: absolute;
  align-items: center;
  justify-content: space-between;
}
nav div:nth-child(1) {
  font: 700;
  display: flex;
  align-items: center;
  font-size: 25px;
}

nav div:nth-child(1) svg {
  margin: 0rem 1rem;
  cursor: pointer;
}

nav div:nth-child(2) > ul {
  display: flex;
}

nav div:nth-child(2) > ul li {
  display: flex;
  align-self: center;
  margin: 0.25rem 0.5rem;
}

nav div:nth-child(2) > ul li:nth-child(4) > a > div {
  background-color: var(--bg-clr-green);
  border-radius: 8px;
  color: white;
  padding: 0.2rem 0.5rem;
  font-size: 16px;
  /* margin: 0rem 0rem 0rem 0.5rem; */
}

/* navbbar */
/* mobile navbbar */

/* mobile navbbar */
